@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Roboto", sans-serif;
  padding: 30px;
  color: #333;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}
nav,
main,
aside,
section,
div {
  float: left;
  width: 15%;
}

main {
  width: 50%;
}

aside {
  width: 35%;
}

section {
  width: 100%;
}

.latest {
  width: 85%;
  float: right;
  margin-top: 15px;
}

div {
  width: 33.33333%;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
  height: 50px;
  width: auto;
}

a {
  text-decoration: none;
  display: block;
}

nav > a {
  color: #777;
  padding: 5px 0;
}
.main-cta {
  font-weight: 900;
  /* font-size: 1.2rem; */
  color: orange;
}

img {
  width: 100%;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

nav > ul > li {
  font-size: 1.4rem;
  color: #888;
  font-weight: 300;
  margin: 15px 0;
}
nav > ul > li:last-child {
  border-top: 2px solid #888;
  padding-top: 15px;
  width: 10%;
}

span {
  display: block;
}

main > span {
  color: orange;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  margin: 5px 0;
}

main > p,
section.latest p {
  line-height: 1.4;
  font-weight: 300;
  color: #999;
  margin: 10px 0;
}

.name {
  font-size: 0.8rem;
  font-weight: 800;
  color: #444;
  margin-bottom: 10px;
}

aside > ul {
  list-style: none;
}

aside > ul > li {
  border-bottom: 1px solid #e4e4e4;
}

aside h2 {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.1;
  margin: 10px 0;
}

h3 {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 15px;
}

section.latest h2,
section.latest p {
  margin: 0;
}

section.latest h2 {
  font-size: 1.8rem;
  font-weight: 800;
  padding-right: 60px;
  margin-bottom: 10px;
}

section.latest p {
  font-size: 1.1rem;
  padding-right: 60px;
}

section.latest span.name {
  margin: 5px 0;
}

.date {
  font-weight: 400;
  color: #999;
  margin: 0;
  font-size: 0.9rem;
}
