/* Desktop */

@media only screen and (min-width: 1100px) {
  .container--1100px {
    padding: 0 30px;
  }
  .section__grid--two-column {
    padding: 45px 70px 0;
  }
  .section__footer {
    padding: 30px 0;
  }
}

/* iPad, smaller laptops */
@media only screen and (max-width: 1100px) {
  header {
    position: relative;
  }
  .container--1100px {
    padding: 0 15px;
  }
  .hero__title {
    font-size: 4.4rem;
  }
  .hero__subtitle {
    font-size: 2rem;
  }
  .section {
    margin: 60px 0 0;
  }
  .section__grid--two-column {
    padding: 45px 20px 0;
  }
  .section__div--top-pad {
    padding-top: 0;
  }
  .section__card {
    padding: 30px 25px;
  }
  .section__card-container--left {
    display: flex;
    align-items: center;
  }
  .section__card-container--right {
    margin-left: 30px;
  }
  .section__flexbox {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .section__column--right > img {
    width: 100%;
  }
  .section__img--hide {
    display: none;
  }
  .section__column--left {
    padding: 30px 100px 0 70px;
  }
  .section__footer {
    margin-top: 100px;
    padding: 60px 0 30px;
  }
}

/* Standard mobile (iPhone, Pixel, Galaxy, etc.) */
@media only screen and (max-width: 760px) {
  header {
    position: relative;
  }
  .container--1100px {
    padding: 0 15px;
  }
  .section__footer {
    padding: 30px 0;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero__btn {
    display: none;
  }
  .hero__img {
    width: 100%;
  }
  .hero__column {
    text-align: center;
  }

  .hero__column--left {
    padding: 30px 0;
  }
  .hero__title {
    font-size: 4.4rem;
  }

  .hero__subtitle {
    font-size: 2rem;
  }

  .section {
    margin: 30px 0 0;
  }
  .section--gray-bg {
    padding: 60px 30px;
  }
  .section__card {
    padding: 30px 25px;
  }
  .section__card-container--left {
    display: flex;
    align-items: center;
  }
  .section__card-container--right {
    margin-left: 30px;
  }

  .section__copy {
    font-size: 1.2rem;
  }
  .section__title {
    font-size: 1.8rem;
  }
  .section__subtitle {
    font-size: 1.6rem;
  }
  .section__grid--two-column {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .section__container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .section__flexbox {
    display: flex;
    flex-direction: column-reverse;
  }
  .section__column--right > img {
    width: 100%;
  }

  .section__column--left {
    padding: 0 30px;
  }

  .section__copy-div--last {
    padding-bottom: 0;
  }
}

/* Galaxy Fold and extra small screens */
@media only screen and (max-width: 320px) {
  .hero__title {
    font-size: 3.4rem;
  }

  .hero__subtitle,
  .section__title {
    font-size: 1.6rem;
  }

  .section__column--left {
    padding: 0 15px;
  }
}
