@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: white;

  /* Colors */
  --black: #181818;
  --off-white: #fafafa;
  --light-gray: #b2b2b2;
  --blue: #3ea6ff;
  --red: #cc0000;
}

header {
  background-color: var(--black);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 1.4rem;
}

img {
  border-radius: 100%;
}

i {
  color: var(--light-gray);
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.channel-info {
  padding: 0 1rem;
}
.channel-name {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--off-white);
  padding-right: 1rem;
}

.subscribers {
  color: var(--light-gray);
}

.navbar,
.nav,
.user-info,
.channel-title,
.subscribers {
  display: flex;
  align-items: center;
}

.nav {
  list-style: none;
  max-width: 55%;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 1.4rem;
}

.nav-item {
  text-transform: uppercase;
  color: var(--light-gray);
}
.nav-link {
  text-decoration: none;
  color: var(--light-gray);
  display: inline-block;
  padding: 1.8rem 2rem;
  background-image: linear-gradient(var(--light-gray), var(--light-gray));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0px;
  transition: background-size 0.3s;
}

.nav-link:hover {
  color: white;
  cursor: pointer;
}
.border {
  color: white;
  background-size: 100% 4px;
}
button {
  padding: 01rem 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 0.2rem;
}

button:hover {
  cursor: pointer;
}

.button-join {
  color: var(--blue);
  background-color: transparent;
  border: 1px solid var(--blue);
}

.button-subscribe {
  color: white;
  background-color: var(--red);
}
