@media only screen and (min-width: 1100px) {
}
@media only screen and (max-width: 960px) {
  .hero {
    padding: 60px 20px;
    text-align: center;
  }
  .hero h1 {
    font-size: 6.4rem;
    line-height: 1.1;
    margin-bottom: 10px;
  }
  .hero h2 {
    font-size: 3.2rem;
    text-align: center;
  }
  .hero__btn-div {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero__btn-div .btn {
    margin: 5px 20px;
  }
  .section__card {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
  }
  .section__card h4 {
    font-size: 2.2rem;
  }
  .section__card p {
    font-size: 2rem;
  }
  .section__card img {
    width: 100%;
  }
  #skills .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .section__div--flex {
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
  }
  .section__div--flex > img {
    width: 50%;
    margin-bottom: 10px;
  }
  .section__div--flex div {
    padding: 0;
  }
  .about-heading-div {
    justify-content: center;
  }
  .about-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-div {
    margin: 0;
  }
  form > .btn {
    margin: 10px auto 0;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 400px) {
}
