@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  color: var(--dark-gray);
  font-weight: bold;

  /* Colors */
  --dark-gray: #27323a;
  --light-gray: #ebebeb;
  --paper-gray: #fafafa;
}

body {
  background-color: var(--paper-gray);
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--dark-gray);
}
.fas {
  font-size: 1.4rem;
  padding-top: 0.2rem;
}
.navbar {
  background-color: white;
}

.bottom-nav {
  position: sticky;
  width: 100%;
  box-shadow: 0 15px 10px -15px #1e204b2b;
}
.top-nav,
.bottom-nav,
.nav-links,
.nav-link-container,
.search,
.articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav,
.bottom-nav {
  padding: 1rem 3rem;
}
.top-nav {
  border-bottom: solid 0.1rem var(--light-gray);
}

.nav-link-container,
.articles {
  padding: 0.8rem;
}

.nav-link,
.fa-newspaper,
.fa-bookmark {
  padding-right: 0.8rem;
}
.search-bar {
  position: relative;
  margin-right: 2rem;
}

input {
  padding: 1rem 0.8rem;
  border: solid 1.5px var(--light-gray);
  border-radius: 0.9rem;
}

.fa-search {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  padding: 1.2rem;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  vertical-align: middle;
  color: white;
  background-color: var(--dark-gray);
}

button {
  background-color: var(--dark-gray);
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border: 0.1rem solid var(--dark-gray);
  border-radius: 0.9rem;
}
