/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

div {
  float: left;
  width: 33.3333%;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

img {
  width: 100%;
}

nav {
  height: 50px;
  vertical-align: middle;
}

div {
  float: left;
  width: 33.333%;
}

nav > div > * {
  float: left;
}

ul {
  list-style: none;
}

ul > li {
  float: left;
  width: 33.3333%;
}

main > * {
  float: left;
  width: 50%;
}
