@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Source+Code+Pro:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: "Source Code Pro", sans-serif;
  line-height: 1.3;
  color: var(--dark-gray);

  /* Colors */
  --dark-gray: #333333;
  --blue: #00e4f2;
  --light-gray: #e6e9e9;
}
body {
  padding: 20px;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: var(--dark-gray);
}

ul {
  list-style: none;
}
header {
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav ul {
  display: none;
  text-align: center;
  position: absolute;
  top: 30px;
  background-color: white;
  width: 100%;
  padding: 10px;
}

nav ul li {
  font-size: 1.6rem;
  padding: 10px;
}

.navbar a {
  display: flex;
}
.menu-icon div {
  background-color: var(--dark-gray);
  border-radius: 100;
  margin: 5px;
  width: 24px;
  height: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 30px;
}
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}
h4 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.hero {
  margin-top: 100px;
}
.hero p {
  padding-right: 70px;
}
.hero a {
  font-weight: 300;
  color: var(--blue);
  text-decoration: underline;
}

a.btn,
button.btn {
  display: inline-block;
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.6rem;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  background-color: var(--dark-gray);
  padding: 14px 28px;
  margin-top: 30px;
  font-weight: 300;
}

button.btn {
  margin: 0;
}

section {
  margin-top: 100px;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}
.project-info {
  margin: 30px 0;
}

.img-sm {
  margin: 0 auto;
}
.img-lg {
  display: none;
}
p {
  letter-spacing: -1px;
  font-weight: 300;
  padding: 10px 0;
}

.form-div form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 300;
  margin: 15px 0 0;
}
input {
  display: block;
  width: 100%;
  border: 1px solid var(--light-gray);
  padding: 15px 8px;
  margin-top: 5px;
  border-radius: 4px;
}
textarea {
  display: block;
  width: 100%;
  border: 1px solid var(--light-gray);
  min-height: 200px;
  padding: 15px 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
}
input::placeholder,
textarea::placeholder {
  color: var(--light-gray);
  font-family: "Source Code Pro", sans-serif;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--blue);
}

footer {
  margin: 60px 0 30px;
  text-align: center;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: var(--blue);
  font-weight: 300;
  text-decoration: underline;
}
p.copyright {
  font-size: 1.2rem;
  padding: 0;
  margin: 5px 0;
}

@media only screen and (max-width: 600px) {
}
